pandas
numpy
ipython
ipykernel
jupyter_contrib_nbextensions
tqdm
jupyter_dashboards
spacy
scikit-learn
lime
shap
emoji
torch
sentimentpl
geopy
geopandas
folium
openpyxl
hipisejm>=0.2.3
sentence-splitter
plotly
