pandas
numpy
ipython
ipykernel
nbconvert
tqdm
jupyter_dashboards
spacy
scikit-learn
lime
shap
emoji
torch
sentimentpl
geopy
geopandas
folium
openpyxl
hipisejm>=0.2.3
sentence-splitter
plotly
keybert
keybert[flair]
openai

# for Bielik quantization
bitsandbytes
